[Unit]
Description=Twofing Rightclick service
After=lightdm.service

[Service]
Type=forking
User=pi
Group=pi
Environment=DISPLAY=:0
PIDFile=/var/run/twofing.pid
ExecStartPre=/usr/bin/rm -f /var/run/twofing.pid
ExecStart=/usr/bin/twofing
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGQUIT
TimeoutStopSec=5
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
