[Unit]
Description=Twofing Rightclick service
After=lightdm.service

[Service]
Type=forking
User=pi
Group=pi
Environment=DISPLAY=:0
ExecStart=/usr/bin/twofing
StandardOutput=null
StandardError=journal
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
